footer {
  color: #fff;
  background: #192939;
  padding: 120px 0 134px;
}
footer .logo {
  max-width: 353px;
  width: 100%;
}
footer .box-information {
  margin: 48px 0 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 14px;
  max-width: 340px;
}
footer .box-information p {
  margin: 0 0 10px;
}
footer .box-information p:last-child {
  margin: 0;
}

.list-messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.list-messengers li {
  margin: 0 24px 0 0;
}
.list-messengers li:last-child {
  margin: 0;
}
.list-messengers li a {
  width: 52px;
  height: 52px;
  min-width: 52px;
  border-radius: 50%;
  fill: #fff;
  padding: 10px;
  background: #6ac1ef;
}
.list-messengers li a:hover {
  background: #192939;
  fill: #fff;
}
.list-messengers li a:focus {
  background: #e4ecf3;
  fill: #192939;
}
.list-messengers li a:disabled {
  opacity: 0.5;
  fill: #fff;
  background: #6ac1ef;
}

.list-messengers-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-messengers-column li {
  margin: 0 0 24px;
}
.list-messengers-column li:last-child {
  margin: 0;
}

.footer-column {
  max-width: 353px;
  width: 100%;
  margin: 0 auto 0 0;
}

.menu-documents {
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}
.menu-documents__item {
  margin: 0 0 24px;
}
.menu-documents__item:last-child {
  margin: 0;
}
.menu-documents__link {
  text-decoration: underline;
  color: #6ac1ef;
}
.menu-documents__link:hover, .menu-documents__link:focus {
  color: #fff;
  text-decoration: none;
}

.menu-footer {
  max-width: 202px;
  width: 100%;
}
.menu-footer__item {
  margin: 0 0 16px;
}
.menu-footer__item:last-child {
  margin: 0;
}
.menu-footer__link {
  color: #fff;
}
.menu-footer__link:hover, .menu-footer__link:focus {
  color: #6ac1ef;
}

.footer-contacts {
  margin: 0 auto;
}

.footer-contacts-item {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.6px;
  margin: 0 0 16px;
}
.footer-contacts-item:last-child {
  margin: 0;
}
.footer-contacts-item > span {
  display: block;
  margin: 0 0 4px;
}
.footer-contacts-item p {
  letter-spacing: 2%;
  font-weight: bold;
}
.footer-contacts-item a {
  color: #fff;
  font-family: "Onest", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 0;
}
.footer-contacts-item a span {
  color: #6ac1ef;
}
.footer-contacts-item a:hover {
  color: #7cc1e5;
}

.btn-toggle-documents {
  border-radius: 16px;
  border-color: #eff3f6;
  color: #fff;
  font-size: 18px;
  padding: 16px;
  font-family: "Unbounded", sans-serif;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 448px;
  fill: #fff;
  margin: 48px auto 0;
}
.btn-toggle-documents:after {
  content: "";
  border: 1px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 52px;
  height: 52px;
  min-width: 52px;
  padding: 10px;
  background: url("../img/plus-white.svg") no-repeat center;
  background-size: 32px;
}
.btn-toggle-documents:hover, .btn-toggle-documents:focus {
  background: transparent;
  color: #fff;
}
.btn-toggle-documents.click:after {
  background: url("../img/minus-white.svg") no-repeat center;
  background-size: 32px;
}

.modal-dialog {
  max-width: 756px;
  width: 100%;
}
.modal-dialog .form-callback {
  max-width: none;
  margin: 0;
}
.modal-dialog .btn-close {
  padding: 10px;
  margin: 0;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  border-radius: 50%;
  border: 1px solid #192939;
  opacity: 1;
  width: 52px;
  height: 52px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  fill: #192939;
}
.modal-dialog .btn-close:hover {
  background: #6ac1ef;
  fill: #fff;
}

.modal-content {
  background: #E4ECF3;
  border: none;
  border-radius: 25px;
  padding: 80px;
}

.modal-header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 1;
  padding: 0;
  border: none;
  border-radius: 0;
}

.modal-body {
  width: 100%;
  padding: 0;
  margin: 24px 0 0;
}

.modal-title {
  margin: 0 0 10px;
  padding: 0 64px 0 0;
}

.form-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-footer .label-checkbox {
  margin: 0 16px 0 0;
}